.main-breakpoint {
   display: none;
}

@media screen and (max-width: 992px) {
.main-breakpoint {
   background: #000;
   display: block;
}
.main-container {
   height: 105vh;
   //max-width: 320px;
   background: url("/img/heroimage.png") center;
}
.content-container {
}
.breakpoint__header {
   display: flex;
   // &header__burger:active{
   //    &header__menu{
   //       display: block;
   //    }
   // }
}
.header__logo {
   margin: 0;
   margin-bottom: 80%;
   img{
      height: 31px;
   }
}
.header__burger {
   z-index: 5;
   position: relative;
   width: 30px;
   height: 16px;
   cursor: pointer;
   margin-left: auto;
   right: 17px;
   top: 26px;
   span,
   &::before,
   &::after{
      position: absolute;
      left: 0;
      width: 100%;
      height: 10%;
      transition: all 0.3s ease 0s;
      background: #FF7400;
   }
   &::before,
   &::after{
      content:"";
   }
   &::before{
      top: 0;
   }
   &::after{
      bottom: 0;
   }
   span{
      top: 50%;
      transform: scale(1) translate(0px, -50%);
   }
}
.header__menu{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.9);
   padding: 100px 30px 30px 30px;
   transition: left 0.3s ease 0s;
   // display: none;
   overflow: auto;
   left: -100%;
}
._active {
   left: 0;
}
.nav__item{
   margin: 20px;
}
.menu__url{
   font-family: $font;
   font-style: normal;
   font-weight: bold;
   font-size: 24px;
   line-height: 19px;
   color: #FFFFFF;
}
.breakpoint__title {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.breakpoint__welcome {
   font-family: 'Tinos';
   font-style: normal;
   font-weight: normal;
   font-size: 30px;
   line-height: 34px;
   color: #D67E35;
}
.breakpoint__our-restaurant {
   font-family: 'Tinos';
   font-style: normal;
   font-weight: normal;
   font-size: 40px;
   line-height: 46px;
   color: #D67E35;
}
.breakpoint__home {
   font-family: $font;
   font-style: normal;
   font-weight: normal;
   font-size: 15px;
   line-height: 20px;
   color: #FFFFFF;
   margin-bottom: 45px;
}
.breakpoint__button {
   padding: 14px 44px;
   background: #FF7400;
   font-family: $font;
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 19px;
   color: #FFFFFF;
}
}