.dishes-menu{
   display: flex;
   flex-direction: column;
   gap: 29px;

   &__item{
      display: flex;
      gap: 30px;
      align-items: center;
   }
   &__info{
      align-items: center;
      display: flex;
      flex: 1 1 auto;
      gap: 10px;
   }
   &__line{
     border: 1px dashed #000000;
     flex: 1 1 auto;
     height: 1px;
   }
}

.main__dishes {
   background: #E5E5E5;
}
 
 .dishes__container {
   max-width: 1440px;
   margin: 0 auto;
   padding-top: 132px;
   padding-bottom: 152px;
 }
 
 .dishes__title {
   font-family: 'Tinos';
   font-style: normal;
   font-weight: normal;
   font-size: 54px;
   line-height: 62px;
   text-align: center;
   span{
      color: #D67E34;
   }
   margin-bottom: 139px;
 }
 
 .dishes__content {
   font-family: 'Tinos';
   font-style: normal;
   font-weight: normal;
   font-size: 26px;
   line-height: 30px;
 }
 .dishes__row {
   display: flex;
   gap: 30px;
 }
 
 .dishes__menu {
   display: flex;
  flex:1 1 100%;
 }

.dishes__main-picture{
    img{
       height: 100%;
    }
 }