.main__wine {
}

.wine {
  background: #E5E5E5;
  height: 732px;
}

.wine__container {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  img{
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .wine__container{
    max-width: 320px;
    img{
      object-fit: none;
      height: 566px;
    }
  }
}