@import "null.scss";
@import "fonts";
//@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$font: Roboto;

.wrapper {
}

.main {
  height: min(100vh, 960px);
  background-size: cover;
  background: url('/img/main-screen__bgc.png') no-repeat center;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.main__upblock {

}

.main__header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  font-family: 'Roboto', sans-serif;
  grid-column-gap: 24px;
}

.main__logo {
  position: absolute;
  left: 80px;
  top: 40px;
}

.main__navigator {
  //grid-column: 4 / 10;
  grid-column-start: 4;
  grid-column-end: span 7;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
}

.navigator {
  color: white;
  display: flex;
  gap: 56px;
}

.main__cabinet {
  color: white;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  border-radius: 50px;
  padding: 10px 30px;
  position: absolute;
  right: 80px;
  top: 38px;
}
