@import "null.scss";
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import "fonts";



$font: "Open Sans";

.wrapper {
  height: 100%;
  width: 100%;
}

.main {
  background-color: #0C0807;
  ;
}

@import "main";

@import "history";

@import "holiday";

@import "dish";

@import "menu";

@import "visitor";

@import "gallery";

@import "wine";
