@import "null.scss";
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import "fonts";

$font: "Open Sans";

.wrapper {
  height: 100%;
  width: 100%;
}

.main {
  background-color: #0C0807;
  ;
}
.background {
  background-color: #0C0807;
  &--lite {
    background-color: #2c2c2c;
  }
}
.main-container {
  max-width: 1440px;
  margin: 0 auto;
  background: url("/img/heroimage.png") no-repeat;
}
.content-container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.main__title {
  height: 800px;
  background-position: center;
  margin: 0 auto;
}

.main__header {
  display: flex;
  align-items: center;
  padding-top: 60px;
}

.header__logo {
}

.header__nav {
  margin-left: auto;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 19px;
  display: flex;
  gap: 23px
}
.header__vertical-line {
  height: 51px;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 21px;
  margin-right: 31px;
}
.main-title {
  max-width: 521px;
}
.header__url {
  color: #FFFFFF;

}

.header__item {
  align-items: center;
}

.header__musor {
  margin-left: 36px;
}

.header__phone {
  color: white;
  display: flex;
  flex-direction: column;
}

.phone__container {
  display: flex;
}

.phone__pic {
  margin: 0 8px 1px 0;
}

.phone__number {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  font-family: "Open Sans", sans-serif;
  margin: 0 45px 1px 0;
}

.phone__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 19px;
  width: 154px;
}

.header__order {
  font-family: 'Open Sans', sans-serif;
  background: #FF7400;
  max-width: 157px;
  height: 47px;
  padding: 14px 19px 0 18px;
  margin: 0 0 0 0;
  font-weight: bold;
  line-height: 19px;
}

.header-order__color {
  color: white;
}

.main-title__welcome {
  font-family: "Tinos";
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 57px;
  color: #D67E35;
  margin-top: 203px;
  padding-left: 34px;
}

.main-title__restoran {
  padding-left: 10px;
  font-family: "Tinos";
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 92px;
  color: #D67E35;
}

.main-title__food {
  margin-top: 6px;
  justify-content: center;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 8px;
  span:first-child, span:last-child {
    display: block;
    width: min(100%, 61px);
    height: 2px;
    background-color: #FFFFFF;
  }
}

.main-title__menu {
  text-align: center;
  margin-top: 21px;
  padding: 14px 28px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  background: #FF7400;
  color: white;
  margin-left: 190px;
}



.main__history{
  height: 991px;
  background: #E5E5E5;
}
.history__content{
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;
  height: 991px;
}
.history__content-container{
  max-width: 1110px;
  height: 991px;
  margin: 0 auto;
}
.history__intro {
  display: flex;
  gap: 2.71%;
  max-width: 1110px;
}
.history-intro_item {
  height: 328px;
  margin-top: -107px;
  display: flex;
  text-align: center;
  flex-direction: column;
  max-width: 349px;
  background: #FFFFFF;
box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
}
.history-intro__pic {
  margin-top: 48px;
}
.history-intro__title {
  font-family: 'Tinos';
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 30px;
color: #2C2C2C;
}
.history-intro__text {
  font-family: 'Tinos';
  margin-top: 20px;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 30px;
color: #656363;
}
.history__info {
  height: 620px;
  max-width: 1140px;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}
.history-info__out-history {
  max-width: 444px;
}
.history-info__title {
  text-align: center;
  margin-top: 16px;
  font-family: 'Tinos';
font-style: normal;
font-weight: normal;
font-size: 54px;
line-height: 62px;
}
.history-info-text {
  margin-top: 21px;
  font-family: $font;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
text-align: center;
color: #656363;
height: 217px;
}
.history-info__meta {
  display: flex;
  max-width: 300px;
  //justify-content: center;
  justify-content: space-between;
  margin: 0 auto;
}
.history-info__top {
  font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 54px;
text-align: center;
color: #BC9060;
}
.history-info__bottom {
  margin-top: 2px;
  font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;
text-align: center;
}
/*.bot1{
  margin-right: 58px;
}
.top1{
  margin-right: 60px;
}
.top2{
  margin-right: 45px;
}
.bot2{
  margin-right: 48px;
}*/

.history-info__logo {
}
.history-info__item {
  margin-top: 39px;
  display: flex;
  flex-direction: column;
  text-align: center;
}



.main__holiday {
  background: #080C0E;
}

.holiday__container {
  background: url(/img/holiday.png) no-repeat;
  background-size: cover;
  max-width: 1440px;
  padding-top: 80px;
  padding-bottom: 104px;
  margin: 0 auto;
  display: flex;
}


.holiday__title {
  font-family: 'Tinos';
  font-weight: normal;
  font-size: 52px;
  line-height: 60px;
  color: #D67E34;
}

.holiday__text {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
  margin-top: 20px;
}
.holiday__row{
  display: flex;
  align-items: center;
}
.holiday__info{
  flex: 0 1 62%;
}
.holiday__order {
  margin-right: 22px;
  margin-top: 23px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  height: 47px;
  width: 157px;
  background: #FF7400;
  margin-left: auto;
}

@import "dish";



.main__menu {
  background: #E6E5E5;
  height: 1034px;
}

.menu__container {
  background: url('/img/menu.png');
  height: 1034px;
  margin: 0 auto;
  width: 1440px;
}

.menu__title {
  font-family: 'Tinos';
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 62px;
  color: #FFFFFF;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  padding: 98px 0px 0 590px;
}

.menu__row {

}

.menu__list {
  margin: 0 auto;
  width: 1110px;
  display: flex;
}

.menu__item {
  margin: 136px 30px 0 0;
  width: 350px;
  height: 510px;
  background: #fff;

  &:last-child {
    margin: 136px 0 0 0;
  }
}

.item {
}

.item__pic {
  padding: 80px 0 0 62px;
}

.item__title {
  font-family: 'Tinos';
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  padding: 22px 0 0 81px;
}

.item__text {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 17px 0 0 62px;
  width: 206px;
  text-align: center;
  height: 37px;
}

.item__order {
  padding: 14px 68px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  background: #D67E34;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  margin: 20px 0 0 65px;
  color: #fff;
}

.item__rec {
  position: absolute;
  padding: 7px 11px 11px 12px;
  background: #D67E34;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.item__elipse {
  position: absolute;
  background: #D67E34;
  border: 7px solid #FFFFFF;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Cookie';
  font-weight: normal;
  font-size: 30px;
  line-height: 33px;
  color: white;
  margin: 205px 61px 205px 189px;
}

.main__visitor {
  background: #E6E5E5;
  height: 550px;
}

.visitor__container {
  width: 1440px;
  height: 550px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.visitor__text {
  padding: 104px 0 0 0;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  width: 810px;
  text-align: center;
}

.visitor__pic {
  padding: 23px 0 16px 0;
}

.visitor__visitor {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

.visitor__name {
  padding: 9px 0 25px 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;

}

.visitor__slider {
}

.slider__content {
  display: flex;
  width: 21px;
  justify-content: space-between;
  align-items: center;
}

.slider__item-1 {
  border-radius: 100%;
  width: 5px;
  height: 5px;
  background: #C4C4C4;
}

.slider__item-2 {
  border-radius: 100%;
  width: 5px;
  height: 5px;
  background: #C4C4C4;
}

.slider__item-3 {
  border: 1px solid #FF7400;
  border-radius: 100%;
  box-sizing: border-box;
  width: 7px;
  height: 7px;
}

.main__gallery {
  height: 1632px;
  background: #E5E5E5;
}

.gallery__container {
  height: 1632px;
  width: 1440px;
  margin: 0 auto;
  background: white;
}

.gallery__figure {
  background: #FF0000;
  width: 30px;
  height: 100px;
  position: absolute;
  top: 4917px;;

  &:first-child {
    top: 4917px;
    left: 1641px;
  }
}

.gallery__title {
  padding: 101px 0 60px 576px;
  font-family: 'Tinos';
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 62px;
}

.gallery__pictures {
  display: flex;
}

.pictures__mainrow {
  padding: 0 0 0 167px;
  display: flex;
}

.pictures__subrow {
  display: flex;
  flex-direction: column;
}

.pictures__lowrow {
  margin: 30px 30px 0px 0;
  display: flex;

}

.pictures__item {
}

.pictures__lowrow-2 {
  margin: 0 30px 0px 0;
  display: flex;
}

.pictures__item {
  margin: 0 30px 30px 0;

}

.pictures__item-2 {
  margin: 0 0 30px 0;
}

.pictures__subrow-2 {
  display: flex;
  flex-direction: column;
}

.pictures__list {
  display: flex;
}

.pictures__items {
  margin: 107px 32px 0 0;

  &:first-child {
    margin: 107px 32px 0 165px;
  }
}

.gallery__title2 {
  font-family: 'Tinos';
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 62px;
  margin: 100px 0 0 558px;
}

.main__wine {
}

.wine {
  background: #E5E5E5;
  height: 732px;
}

.wine_container {
  width: 1440px;
  height: 732px;
  background: url(/img/wine.png);
  margin: 0 auto;
}
