$font-color-black: #070707;
$font-color-gray: #828282;
$bg-color-withe: #ffffff;
$bg-color-gray: #F6F6F6;
$icon-color-gray: #E5E5E5;

$fz-desktop:18px;
$fz-desktop-title:34px;

$mobile-width: 767px;
$tablet-width: 767px;
$micro-mobile-width: 565px;
